
@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h4><b class="text-primary">@ViewBag.headname.Name</b> başlığa yaz</h4>
<hr />

@using (Html.BeginForm("AddContent", "WriterPanel", FormMethod.Post))
{
    
    <div class="form-group">
        @Html.Label("Yorumunuz",new {@class="form-label" })
        @Html.TextAreaFor(x=>x.Value,6,6,new {@class="form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Yorumu Kaydet</button>
}
